<div id="centerdiv">
	<h1>{{title}}</h1>
	<p>Welcome to the {{title}} </p>


	<br><br>
	<p>State Park Locator (By County)</p>
		<input id="parkinput" type="text" placeholder="Enter a County">
		<button id="parksearch">Search</button>
		<div id="message-container">
		</div>

	<br><br>
	<p>School Locator (By City)</p>
		<input id="schoolinput" type="text" placeholder="Enter a City">
		<button id="schoolsearch">Search</button>
		<div id="message-container2">
		</div>
