<div id="centerdiv">
	<h1>{{title}}</h1>
	<p>Welcome to the {{title}}</p>
	<br><br>
	<p>State Park Locator (By County)</p>
<input type="text" placeholder="Enter a County">
<button>Search</button>

<div id="message-container">
	</div>
</div>
