<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav><img src="http://i.imgur.com/4QrV9jK.png">
    </nav>
  </head>
  <body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
  <footer>&copy;Russell McBain 2017</footer>
</html>
